<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Take A Flight</a>
  </span>
  <!-- <span class="spacer"></span> -->
  <ul>
    <li>
      <a mat-button routerLink="/About" routerLinkActive="mat-accent">About Us</a>
    </li>
    <li>
      <a mat-button routerLink="/get" routerLinkActive="mat-accent" *ngIf="this.authService.isAuthenticated()">All
        Flights</a>
    </li>
    <li>
      <a mat-button routerLink="/getDestinations" routerLinkActive="mat-accent" *ngIf="this.authService.isAuthenticated()">All
        Destinations</a>
    </li>
  </ul>
  <span class="spacer"></span>
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input class="search_input" (keyup.enter)="onSearch()" [(ngModel)]="searchText" type="text" name="" placeholder="Search...">
      <span class="search_icon" (click)="onSearch()"><i class="fas fa-search"></i></span>
    </div>
  </div>
  <ul>
        <li>
            <a routerLinkActive="mat-accent" *ngIf="this.authService.isAuthenticated() && this.authService.getUserDetails().isAdmin">
                {{counter}} <span class="glyphicon glyphicon-user"></span></a> 
        </li>
      <li>
          <a mat-button routerLink="/viewOrders" routerLinkActive="mat-accent" *ngIf="this.authService.isAuthenticated()">My
            Orders</a>
        </li>
    <li>
      <a mat-button routerLink="/viewCart" routerLinkActive="mat-accent" *ngIf="this.authService.isAuthenticated()">
        <span class="glyphicon glyphicon-shopping-cart"></span> - <span [innerText]="numItems"></span>
      </a>
    </li>
    <li>
      <a mat-button routerLink="/registration" routerLinkActive="mat-accent" *ngIf="!this.authService.isAuthenticated()">Register</a>

    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent" *ngIf="!this.authService.isAuthenticated()">Login</a>
      <app-user-counter [(counter)]="counter"></app-user-counter>
      <a routerLinkActive="mat-accent" *ngIf="this.authService.isAuthenticated()">hello
        '{{authService.getUserDetails().firstName}}' </a>
    </li>
  </ul>
</mat-toolbar>