<mat-toolbar color="primary">
    <span>
      <a routerLink="/">Take A Flight</a>
    </span>
    <!-- <span class="spacer"></span> -->
    <ul>
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Flight</a>
      </li>
      <li>
          <a mat-button routerLink="/get" routerLinkActive="mat-accent">My Flights</a>
      </li>
    </ul>
    <span class="spacer"></span>
    <ul>
        <li>
              <a mat-button routerLink="/viewCart" routerLinkActive="mat-accent">
                <span [innerText]="numItems"></span>
                 - Items
                </a>   
        </li>
        <li>
          <a mat-button routerLink="/registration" routerLinkActive="mat-accent">Register</a>
        </li>
        <li>
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
      </ul>
  </mat-toolbar>
  