<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-table #table mat-elevation-z8 [dataSource]="dataSource" matSort *ngIf="!IsCartEmpty() && !isLoading">
    <ng-container matColumnDef="Destination">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Destination</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.destination.country}},{{element.destination.city}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="takeoff">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Takeoff</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.takeoff}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="landing">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Landing</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.landing}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div>
              <input #quantity type="number" [(ngModel)]="element.quantity" min="1" oninput="validity.valid||(value='');" 
              style="text-align: center;width:60px;"/>
            </div>
        </mat-cell>
      </ng-container>
    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="wrapper">
          <button class="btn btn-danger center" (click)="RemoveItem(element)">Remove from cart</button>
        </div>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  
  
  
  <mat-paginator *ngIf="!IsCartEmpty() && !isLoading" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <div class="wrapper">
    <button class="btn btn-primary button center" (click)="OrderItems()" *ngIf="!IsCartEmpty() && !isLoading" [disabled]="!AreQuantitiesValid()">Order!</button>
  </div>
  <p class="info-text mat-body-1" *ngIf="IsCartEmpty() && !isLoading">No flights added to cart yet!</p>