
.about {
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
}

.container, .panel {
    padding: 0.01em 16px;
}
.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}