.header-icon {
    margin-right: 10px;
}

.registration-container {
    padding: 50px 550px;
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 10px;
}

.registration-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.spinner {
    margin: 5px;
}